@model MyBlog.Entities.Models.Comment
@Styles.Render("~/Content/Site.css")
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div>
    <h4>Comment details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PostID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CommentAuthorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommentAuthorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CommentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommentDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CommentBody)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommentBody)
        </dd>

    </dl>
</div>
<p>

    @Html.ActionLink("Back to List", "Index")
</p>
